<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>BUILTHUB Data Catalog</title>
  <meta charset="UTF-8">
  <meta name="description" content="Descripción de la página…">
  <link rel="stylesheet" href="catalog.css">
</head>
<body>
	<div class="dataset-container">
		<h2>EUROSTAT: Final energy consumption in households</h2>
		<p>The final energy consumption in households is a 
		measure of the total energy consumed by households as 
		final users. In this dataset it is expressed in 
		thousands tonnes of oil equivalent.</p>
		
		<br>
		
		<table class="default">
		<caption class="table-title">Dataset metadata</caption>
		<tr>
			<th class="table-header">Geo Info</th>
			<th class="table-header">NUTS</th>
			<th class="table-header">Measured Elements</th>
			<th class="table-header">Units</th>
			<th class="table-header">Time Ranges</th>
			<th class="table-header">SIEC (Standard international energy product classification)</th>
			<th class="table-header">Periodicity</th>
		</tr>
		<tr>
			<td>Countries from europe</td>
			<td>NUTS 0 Level</td>
			<td>Energy consumption in households</td>
			<td>TOE</td>
			<td>Divided by years starting in 1990 until 2019</td>
			<td>Total</td>
			<td>Annual</td>
		</tr>
		</table>
		
		<br>
		<br>
		
		<table class="default">
		<caption class="table-title">Dataset database predicates</caption>
		<tr>
			<th class="table-header">Title</th>
			<th class="table-header">Description</th>
			<th class="table-header">Predicate (Fields' name)</th>
			<th class="table-header">Range/Data Type</th>
			<th class="table-header">Cardinality</th>
			<th class="table-header">Content</th>
		</tr>
		<tr>
			<th class="color_black">Record Type</th>
			<td>Defines the type of the record. This type must   
			be defined in a known ontology. Usually, the ontology
			is specified with a prefix.                          </td>
			<td>rdf:type</td>
			<td>IRI</td>
			<td>1..1</td>
			<td>blthb:Dataset014</td>
		</tr>
		<tr>
			<th class="color_black">Record Key</th>
			<td>The primary key of the record.</td>
			<td>dc:identifier / skos:notation</td>
			<td>rdfs:Literal (xsd:string)</td>
			<td>1..1</td>
			<td>"urn:uuid:83ae7b7278f5483ead8794a9c3b3a404"</td>
		</tr>
		<tr>
			<th class="color_black">Frecuency</th>
			<td>This property refers to the frequency at which 
			the Dataset is updated.                           </td>
			<td>dct:accrualPeriodicity</td>
			<td>dct:Frequency</td>
			<td>1..1</td>
			<td>http://purl.org/cld/freq/annual</td>
		</tr>
		<tr>
			<th class="color_black" id="alinear" rowspan="4">Temporal Coverage</th>
		</tr>
		<tr>
			<td>Refers to a temporal period that the Dataset    
			covers. It is defined as an interval of time that is
			defined by its start and end dates.                 </td>
			<td>dcterms:temporal</td>
			<td>dcterms:PeriodOfTime</td>
			<td>1..n</td>
			<td> </td>
		</tr>
		<tr>
			<td>This property contains the start of the period.</td>
			<td>dcat:startDate</td>
			<td>rdfs:Literal (xsd:date)</td>
			<td>1..1</td>
			<td>"2015-01-01"^^xsd:date</td>
		</tr>
		<tr>
			<td>This property contains the end of the period.</td>
			<td>dcat:endDate</td>
			<td>rdfs:Literal (xsd:date)</td>
			<td>1..1</td>
			<td>"2015-12-31"^^xsd:date</td>
		</tr>
		<tr>
			<th class="color_black">Belongs to Dataset</th>
			<td>The dataset of this record</td>
			<td>skos:broader</td>
			<td>IRI</td>
			<td>1..1</td>
			<td>https://data.builthub.eu/resource/Dataset/14</td>
		</tr>
		<tr>
			<th class="color_black">In Scheme</th>
			<td>Unifies all the datasets and their predicates.</td>
			<td>skos:inScheme</td>
			<td>IRI</td>
			<td>1..1</td>
			<td>http://data.builthub.eu/datasets</td>
		</tr>
		<tr>
			<th class="color_black">Spatial Coverage</th>
			<td>This property refers to a geographic region that  
			is covered by the Dataset. The EU Vocabularies Name   
			Authority Lists must be used for continents, countries
			and places that are in those lists.                   </td>
			<td>dcat:spatial</td>
			<td>dct:Location (One location) /<br>
			co:Set (A group of locations, places, countries)</td>
			<td>1..1</td>
			<td>atold:DNK</td>
		</tr>
		<tr>
			<th class="color_black">Inside NUTS boundaries</th>
			<td>Indicates if the information is inside a NUTS boundaries.</td>
			<td>blthb:hasNUTS</td>
			<td>skos:Concept /<br>
			co:Set (A group of NUTSs)</td>
			<td>0..1</td>
			<td>nuts:DK</td>
		</tr>
		<tr>
			<th class="color_black">Measured Element</th>
			<td>The element/indicator which has been measured.</td>
			<td>blthb:measuredElement</td>
			<td>rdfs:Literal (xsd:string)</td>
			<td>1..1</td>
			<td>"Energy consumption in households"^^xsd:string</td>
		</tr>
		<tr>
			<th class="color_black" id="alinear" rowspan="4">QUDT Measurement</th>
		</tr>
		<tr>
			<td>The magnitude and kind of the measurement
			expressed using the QUDT specification.      </td>
			<td>blthb:measurementQUDT</td>
			<td>qudt:QuantityValue</td>
			<td>1..1</td>
			<td> </td>
		</tr>
		<tr>
			<td>The magnitude of the measurement expressed using
			a decimal number.                                   </td>
			<td>qudt:numericValue</td>
			<td>rdfs:Literal (xsd:float)</td>
			<td>1..1</td>
			<td>"4448.1767578125"^^xsd:float</td>
		</tr>
		<tr>
			<td>The kind of the measurement (measurement unit)
			expressed using the QUDT specification.           </td>
			<td>qudt:unit</td>
			<td>qudt:unit</td>
			<td>0..1</td>
			<td>unit:NUM</td>
		</tr>
		<tr>
			<th class="color_black">UCUM Measurement</th>
			<td>The magnitude and kind of the measurement
			expressed using the UCUM specification.      </td>
			<td>blthb:measurementUCUM</td>
			<td>rdfs:Literal (ucum:ucum)</td>
			<td>1..1</td>
			<td>"4448.1767578125 "^^cdt:ucum</td>
		</tr>
		<tr>
			<th class="color_black">Literal Measurement Unit</th>
			<td>The kind of measurement expressed using natural
			language.                                          </td>
			<td>blthb:measurementUnit</td>
			<td>rdfs:Literal (xsd:string)</td>
			<td>1..1</td>
			<td>"TOE"^^xsd:string</td>
		</tr>
		<tr>
			<th class="color_black">Literal Measurement Value</th>
			<td>The magnitude of the measurement expressed using
			a decimal number.                                   </td>
			<td>blthb:measurementValue</td>
			<td>rdfs:Literal (xsd:float)</td>
			<td>1..1</td>
			<td>"4448.1767578125"^^xsd:float</td>
		</tr>
		<tr>
			<th class="color_black">SIEC<br>
			(Standard international energy product classification)</th>
			<td>The main purpose of SIEC is to serve as a basis for   
			developing or revising national classification schemes for 
			energy products so as to make them compatible with        
			international standards and, consequently, to ensure      
			significantly improved cross-country comparability of     
			energy data.                                              </td>
			<td>blthb:siec</td>
			<td>IRI (SIEC vocabulary)</td>
			<td>1..1</td>
			<td>siec:TOTAL</td>
		</tr>
		</table>
		
		<br>
		
		<table class="dataframe table myTable">
		<caption class="table-title">Indicators</caption>
		<tr>
			<th class="table-header" colspan="2">Indicators included in this dataset</th>
		</tr>
		<tr>
			<th style="text-align:center" class="table-header">Indicator Name</th>
			<th class="table-header">Measured Element</th>
		</tr>
		<tr>
			<td>Final Energy | Residential Sector</td>
			<td>Energy consumption in households</td>
		</tr>
		</table>
		
		<br>
		
	</div>
</body>
</html>








