<h1 style="text-align:center">Graph 8: Standard bars</h1>
<highcharts-chart
			id="container8" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>


<h1 style="text-align:center">Graph 9: Standard bars + subgroups</h1>
<highcharts-chart
			id="container9" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>


<h1 style="text-align:center">Graph 6: Stacked bars</h1>
<highcharts-chart
			id="container6" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>

<h1 style="text-align:center">Graph 7: Stacked bars + percentage</h1>
<highcharts-chart
			id="container7" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>


<h1 style="text-align:center">Graph 22: Stacked bars + subgroups</h1>
<highcharts-chart
			id="container22" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>



<h1 style="text-align:center">Graph 23: Stacked bars + subgroups + percentage</h1>
<highcharts-chart
			id="container23" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>

<h1 style="text-align:center">Graph 3: Stacked bars + width</h1>
<highcharts-chart
			id="container3" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>

<h1 style="text-align:center">Graph 21: Standard bars + subgroups + average and median</h1>
<highcharts-chart
			id="container21" 
			[Highcharts]="highcharts"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>
<!--
<h1 style="text-align:center">Graph 5: Map</h1>
<div id="container9"></div>

<highcharts-chart
			id="container" 
			[Highcharts]="Highcharts"
			[constructorType]="chartConstructor"
			[options]="chartOptions"
		 	style="width: 100%; height: 400px; display: block;">
		</highcharts-chart>-->








