td{
    color: black;
    text-align: center;
}

th{
    color:white;
    text-align: center;
    background-color: rgb(18, 62, 49);
}

table.dataTable thead th{
    text-align: center;
}

table.dataTable tfoot th, table.dataTable tfoot td{
    text-align: center;
}

.mat-grid-tile{
    width: 80%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

#map1{  
    position: absolute;
    width: 98%;
    height: 97%;
}

#pagination{
    margin-bottom: 39px;
}

#button1{
    background-color: rgb(18, 62, 49);
    color: white;
    height: 100%;
    width: 100%;
    margin-bottom: 10%;
}

.mat-icon{
    color:#104233;
    
}

#pagination{
    margin-left: 65%;
}

h3{
    color:#104233;
  
}
.mat-form-field {

    width: 75%;
}

